/* Coolors Exported Palette - https://coolors.co/607d80-417276-2d87b4-d6ccae-006ef5 */

/* CSS HEX */
--slate-gray: #607d80ff;
--myrtle-green: #417276ff;
--blue-ncs: #2d87b4ff;
--dun: #d6ccaeff;
--brandeis-blue: #006ef5ff;

/* CSS HSL */
--slate-gray: hsla(186, 14%, 44%, 1);
--myrtle-green: hsla(185, 29%, 36%, 1);
--blue-ncs: hsla(200, 60%, 44%, 1);
--dun: hsla(45, 33%, 76%, 1);
--brandeis-blue: hsla(213, 100%, 48%, 1);

/* SCSS HEX */
$slate-gray: #607d80ff;
$myrtle-green: #417276ff;
$blue-ncs: #2d87b4ff;
$dun: #d6ccaeff;
$brandeis-blue: #006ef5ff;

/* SCSS HSL */
$slate-gray: hsla(186, 14%, 44%, 1);
$myrtle-green: hsla(185, 29%, 36%, 1);
$blue-ncs: hsla(200, 60%, 44%, 1);
$dun: hsla(45, 33%, 76%, 1);
$brandeis-blue: hsla(213, 100%, 48%, 1);

/* SCSS RGB */
$slate-gray: rgba(96, 125, 128, 1);
$myrtle-green: rgba(65, 114, 118, 1);
$blue-ncs: rgba(45, 135, 180, 1);
$dun: rgba(214, 204, 174, 1);
$brandeis-blue: rgba(0, 110, 245, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #607d80ff, #417276ff, #2d87b4ff, #d6ccaeff, #006ef5ff);
$gradient-right: linear-gradient(90deg, #607d80ff, #417276ff, #2d87b4ff, #d6ccaeff, #006ef5ff);
$gradient-bottom: linear-gradient(180deg, #607d80ff, #417276ff, #2d87b4ff, #d6ccaeff, #006ef5ff);
$gradient-left: linear-gradient(270deg, #607d80ff, #417276ff, #2d87b4ff, #d6ccaeff, #006ef5ff);
$gradient-top-right: linear-gradient(45deg, #607d80ff, #417276ff, #2d87b4ff, #d6ccaeff, #006ef5ff);
$gradient-bottom-right: linear-gradient(135deg, #607d80ff, #417276ff, #2d87b4ff, #d6ccaeff, #006ef5ff);
$gradient-top-left: linear-gradient(225deg, #607d80ff, #417276ff, #2d87b4ff, #d6ccaeff, #006ef5ff);
$gradient-bottom-left: linear-gradient(315deg, #607d80ff, #417276ff, #2d87b4ff, #d6ccaeff, #006ef5ff);
$gradient-radial: radial-gradient(#607d80ff, #417276ff, #2d87b4ff, #d6ccaeff, #006ef5ff);